* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.contenedor  {
    
    background-color:#708a81;
     justify-content: space-between;
     margin-left: 0.05rem;
     margin-right: 0.05rem;
     align-items: end;
     
     
    
   
}

.header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    /*padding: 0.5rem;*/
    background-color:#E5D1B8;
    height: 150px;
   
}

.footer {
    display: flex;
    align-items: end;
    justify-content:space-between;
     padding: 0.5rem;
    background-color:#E5D1B8;
    height: 70px;
    font-weight: bold;
    
 }


    
main {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
 }


.logo {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
   color:#330a0a;
   
   
  
   }


  
.nav-list {
    list-style-type:none;
    display: flex;
    gap: 5rem;
}

.nav-footer {
    list-style-type:none;
    gap: 3rem;
}



.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
   
    font-weight: bold;
   font-size: large;
   padding: .6rem;
   background-color:#708a81;
   border-radius: 00.5rem; 
   
}

nav ul li a:hover {
    color: #1c1c1c;;
 background-color:#91b5a8;
transition:.5s ease;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


/*Acá comienzan los estilos para las clases del carrousel*/

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	max-width: 1400px;
    height: 450px;
	/*margin:50px auto 0;*/
    margin-top: 00.2rem;
    margin-bottom: 00.2rem;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}


@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/* acá terminan los estilos para el carrusel*/


/*@media screen and (max-width: 968px){


    .header {
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 0.5rem;
        background-color:#E5D1B8
       
    }

    .logo {
        font-size: 10px;
        font-weight: bold;
        font-style: italic;
       color:#330a0a;
       
      
       
             
       }

      .header > div {
        display: flex;
        flex-direction:column;
        font-size: small;
        justify-content: space-between;
        align-self: center;
    }
            
              
     
    

.nav-list {
    list-style-type:none;
    display: flex;
    }

.nav-footer {
    list-style-type:none;
    gap: 2rem;
}



.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
     gap:0.02rem;
   font-size: small;
    background-color:#708a81;
   border-radius: 00.5rem; 
   
}



}

 */ 





@media screen and (max-width: 550px) {


    

       
    .footer {
        display:flex;
        flex-direction:column;
        height: 120px;;
        justify-content: space-between;
        
       
        
                        
    }
    .footer > div {
       display: flex;
       flex-direction:column;
       font-size: small;
       justify-content: space-between;
       align-self: center;
             
        
    }

    .abrir-menu,
    .cerrar-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        right: 0 ;
        border: 0;
        width: 3rem;
        height: 3rem;
        gap:0.65rem;
        /*padding:8px;
        font-size: 1.25rem;*/
        background-color: transparent;
        cursor: pointer;
    }
    

   .abrir-menu > div

    {
    height: 4px;    
    width: 100%;
    border-radius: 5px;
    background-color: #1c1c1c;
    right: 0;
   
    
    }

    .abrir-menu {
        color: #1c1c1c;
        position: fixed;
    }

    .cerrar-menu {
        color: #1c1c1c;
        font-size: xx-large;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:#C2956E;
       
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
        gap: 2rem;
    }
   
    .nav-footer {
         flex-direction: column;
        align-items:flex-start;
        
    }


    .nav-list li a {
        color: #1c1c1c;
        
    font-size: large;
   
   
    }


/*ancho para el carrousel*/

.slider-frame {
	max-width: 550px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    
    width: 550px;
    height: 350px;
    margin-left: 00.02rem;
    margin-right: 00.02rem;
    overflow: hidden;

}
.slider-frame img {
	height: 350px;
}
}