
   

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

    
   


.header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    /*padding: 0.5rem;*/
    background-color:#E5D1B8;
    height: 150px;
   margin:0;
}

.footer {
    display: flex;
    align-items: end;
    justify-content:space-between;
     padding: 0.5rem;
    background-color:#E5D1B8;
    height: 70px;
    font-weight: bold;
    
 }

 

.logo {
     font-size: 18px;
    font-weight: bold;
    font-style: italic;
   color:#330a0a;
     margin-top: 0.5rem;
     margin-left: 0.5rem;
}


/* estilo del div cuyo botón  lleva hacia la galeria de fotos*/
   
.galeria  {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    justify-content: space-around;
   
    background-color:#E5D1B8;
    height: 40px;
    font-weight: bold; 
   
   
}

.galeria a {
    text-decoration: none;
    color: #1c1c1c;
   
    font-weight: bold;
   font-size: large;
   padding: .6rem;
   background-color:#708a81;
   border-radius: 00.5rem; 
   
   
}

.galeria button a:hover {
    color: #1c1c1c;;
 background-color:#91b5a8;
transition:.5s ease;
}
 


/*estilos de los menues de navegación*/
  
.nav-list {
    list-style-type:none;
    display: flex;
    gap: 5rem;
}
.nav-footer {
    list-style-type:none;
    gap: 3rem;
}



.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
   
    font-weight: bold;
   font-size: large;
   padding: .6rem;
   background-color:#708a81;
   border-radius: 00.5rem; 
   
}

nav ul li a:hover {
    color: #1c1c1c;;
 background-color:#91b5a8;
transition:.5s ease;
}




/*Acá comienzan los estilos para las clases del carrousel*/

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	max-width: 1400px;
    height: 420px;
	/*margin:50px auto 0;*/
    margin-top: 00.2rem;
    margin-bottom: 00.2rem;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width:100%;
    
        
}





@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/* acá terminan los estilos para el carrusel*/


@media screen and (max-width: 1200px){


    .header {
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 0.5rem;
        background-color:#E5D1B8
       
    }

    .logo {
        font-size:large;
        font-weight: bold;
        font-style: italic;
       color:#330a0a;
       
      
       
             
       }

      .header > div {
        display: flex;
        flex-direction:column;
        font-size: small;
        justify-content: space-between;
        align-self: center;
    }
            
              
     
    

.nav-list {
    list-style-type:none;
    display: flex;
    gap:2rem;
    }

.nav-footer {
    list-style-type:none;
    gap: 0.5rem;
}



.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: small;
    font-weight: bold;
    background-color:#708a81;
   border-radius: 00.5rem; 
   padding: 0.2rem;
   
}

.slider-frame img {
	width: 100%;
    height: 100%;
}

.footer
{
	padding:none;
}

}

 





@media screen and (max-width: 650px) {


    

       
    .footer {
        display:flex;
        flex-direction:column;
        height: 120px;;
        justify-content: space-between;
        
       
        
                        
    }
    .footer > div {
       display: flex;
       flex-direction:column;
       font-size: small;
       justify-content: space-between;
       align-self: center;
       ;
             
        
    }

   
        
    .nav-list {
        flex-direction: column;
        align-items: end;
        gap: 0.5rem;
    }
   
   .nav-footer {
         flex-direction: column;
        align-items:flex-start;
        
    }


    .nav-list li a {
           
    text-decoration: none;
    color: #1c1c1c;
    font-size: small;
    background-color:#708a81;
   border-radius: 0.5rem; 
   padding: 0.2rem;
   


   
    }


/*ancho para el carrousel*/

.slider-frame {
	max-width: 550px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    
    width: 550px;
    height: 350px;
    margin-left: 00.02rem;
    margin-right: 00.02rem;
    overflow: hidden;

}
.slider-frame img {
	height: 350px;
}
}