<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestras Obras</title>

    <link rel="shortcut icon" href="./img/icono.png">
      
    
    <link rel="stylesheet" href="./css/galeria.css">
    <link rel="stylesheet" href="./css/estilos.css">

       
    
</head>

<header class="header" >

        
</header>

<body>
    
    <main class="main">
        <div id="app">
        <h1>Obras de nuestra galería:</h1>
        <br>
            
            <select name="tipo" id="tipo">
              <option  v-for="elemento in tipos" :value="elemento" >{{elemento}}</option>     
            </select> 




            <button  v-on:click="filtarDatos()">Filtar por técnica</button><br> 
            <br>           
           
        <div id="contenedor">

            <div class="tarjeta" v-for="elemento in datosFinales">
                <img v-bind:src="elemento.foto" :alt="elemento.nombre">
                <h4 >Autor: {{elemento.id}}</h4>
                <h4>Obra: {{elemento.nombre}}</h4>
                <br>
                <p><b>Técnica:</b> {{elemento.tipo}}</p>
                <p><b> Breve Reseña:</b>{{elemento.descripcion}}</p>
            </div>
        </div>
    </div>
</main>

    <footer class="footer" >

        
    </footer>
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  
    <script src="./js/main.js"></script>
    <script src="./js/galeria.js"></script>
</body>


</html>